{% extends "base/base_dasboard_user.html" %}
{% load crispy_forms_tags %}
{% block wrapper%}

        <div class="row">
            <h3>Task Details</h3>
        </div><br><br>
        <div class="row">
                <div class="col-lg-12">
                    {% if messages %}
                         {% for message in messages %}
                         <div class="alert alert-success" role="alert">
                          <strong>{{ message }}</strong>
                        </div>
                         {% endfor %}
                    {% endif %}
                </div>
            </div>
        <div class="row">
                <div class="col-md-3">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#addapp">Add Comment</button>
                  <br><br>
                </div>
            </div>
        <div class="row">
            <div class="col-md-8">
                <tbody>
                  <table class="table table-sm">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Comments</th>
                          <th scope="col">Hr_spent</th>
                          <th scope="col">User</th>
                          <th scope="col">Milestone</th>
                        </tr>
                        {% for detail in detail_list %}
                        <tr>
                            <td>{{detail.comment}}</td>
                            <td>{{detail.hr_spent}}</td>
                            <td>{{detail.user}}</td>
                            <td>{{detail.get_current_state_display}}</td>
                        </tr>
                        {% endfor %}
                      </thead>
                  </table>
                </tbody>
            </div>
            <div class="col-md-4">
                <ul class="list-group">
                        <li class="list-group-item">Task name:- {{ticket.title}}</li>
                        <li class="list-group-item">Users:- {{ticket.assigned_list}}</li>
                </ul>
            </div>
        </div><br><br>
        <!-- Modal -->
                <div class="modal fade" id="addapp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true">&times;</span>
                          <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add comment</h4>
                      </div>
                      <div class="modal-body">

                        <form role='form' action="/ticket/add_milestone/" method="post">
                            {% csrf_token %}
                            <div>
                                <input type="text" hidden="" id="task_id" name="ticket" value="{{ticket.id}}">
                            </div>
                            <div>
                                {{form | crispy}}
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button class="btn btn-primary" >Add</button>
                        </div>
                      </div>
                  </div>
                </div>
                </form>
                <!-- Modal End -->

{% endblock %}